@{
    ViewBag.Title = "Home Page";
}
<h1>Welcome to the world</h1>
<form>
    <div>
        <label>Date: </label>
        <input type="text" value="" />
    </div>
    <div>
        <label>Location: </label>
        <input type="text" value="" />
    </div>
    <div>
        <input type="submit" value="Add" />
    </div>
</form>